.home {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    .home {
      flex-direction: column;
      padding: 10px;
    }
  }
  