.Navbar{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgb(244, 240, 240);
    position: fixed;
    top: 0;
    color: black;
    z-index: 999;
}
.navbarLeft{
    margin-left: 25px;
}
.navbarSocial{
    margin-right: 10px;
    font-size: 20px;
}
.navbarLinksHolder{
    display: flex;
    list-style: none;
}
.navbarLinks{
    margin-right: 25px;
    font-size: 25px;
    cursor: pointer;
}
.navbarRight{
    display: flex;
    margin-right: 35px;
    align-items: center;
    cursor: pointer;
}
.navbarImg{
    height:50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.searchIcon{
    margin-left: 10px;
}
.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topListItem:hover{
      color: gray;
  }
  
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
  }